body{
  background-image: url(https://wallpapercave.com/wp/5hMyv1Y.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}


h1{
    text-align: center;
    font-style: italic;
    color: white;
}

h2{
    text-align: center;
    font-style: italic;
    box-shadow: 10px 10px 8px 10px #888888;
    color: white;
}


.NavBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    background-color: rgb(235, 235, 235);
    position: -webkit-sticky;
    position: sticky;
    font-size: 150%;
    float: left;
}

.Home{
    border-right: 1px solid #bbb;
}

.News{
    padding-left: 25px;
    border-right: 1px solid #bbb;
}

.OrderYourGame{
    padding-left: 25px;
    border-right: 5px solid #bbb;
}

.Contactus{
    padding-left: 25px;
    float:right;
}

footer{
 
}

