h1 {
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
   float: center;
   text-align: center;

}



footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
